.mono/assemblies/Debug/api_hash_cache.cfg
.mono/assemblies/Debug/GodotSharp.dll
.mono/assemblies/Debug/GodotSharp.pdb
.mono/assemblies/Debug/GodotSharp.xml
.mono/assemblies/Debug/GodotSharpEditor.dll
.mono/assemblies/Debug/GodotSharpEditor.pdb
.mono/assemblies/Debug/GodotSharpEditor.xml
.mono/assemblies/Release/api_hash_cache.cfg
.mono/assemblies/Release/GodotSharp.dll
.mono/assemblies/Release/GodotSharp.pdb
.mono/assemblies/Release/GodotSharp.xml
.mono/assemblies/Release/GodotSharpEditor.dll
.mono/assemblies/Release/GodotSharpEditor.pdb
.mono/assemblies/Release/GodotSharpEditor.xml
.mono/metadata/ide_messaging_meta.txt
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/HelloWorld.dll
.mono/temp/bin/Debug/HelloWorld.pdb
.mono/temp/obj/Debug/.NETFramework,Version=v4.7.AssemblyAttributes.cs
.mono/temp/obj/Debug/HelloWorld.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/HelloWorld.csproj.FileListAbsolute.txt
.mono/temp/obj/Debug/HelloWorld.csprojAssemblyReference.cache
.mono/temp/obj/Debug/HelloWorld.dll
.mono/temp/obj/Debug/HelloWorld.pdb
.import/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
.import/icon.png-487276ed1e3a0c39cad0279d744ee560.stex
.mono/temp/bin/Debug/gt-openbve.dll
.mono/temp/bin/Debug/gt-openbve.pdb
.mono/temp/obj/gt-openbve.csproj.nuget.dgspec.json
.mono/temp/obj/gt-openbve.csproj.nuget.g.props
.mono/temp/obj/gt-openbve.csproj.nuget.g.targets
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/temp/obj/Debug/gt-openbve.assets.cache
.mono/temp/obj/Debug/gt-openbve.csproj.AssemblyReference.cache
.mono/temp/obj/Debug/gt-openbve.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/gt-openbve.csproj.FileListAbsolute.txt
.mono/temp/obj/Debug/gt-openbve.dll
.mono/temp/obj/Debug/gt-openbve.pdb
.mono/temp/obj/Debug/HelloWorld.assets.cache
.mono/temp/obj/Debug/HelloWorld.csproj.AssemblyReference.cache
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/temp/obj/Debug/HelloWorld.assets.cache
.mono/temp/obj/Debug/HelloWorld.csproj.AssemblyReference.cache
.mono/temp/obj/project.assets.json
.mono/temp/obj/project.nuget.cache
.mono/temp/obj/Debug/HelloWorld.assets.cache
.mono/temp/obj/Debug/HelloWorld.csproj.AssemblyReference.cache
